@model IEnumerable<Creighton_Model_App.Models.Chart>
@{ 
    ViewData["Title"] = "My Chart";
}
<h2>Observations From: "Placeholder" To: "Placeholder" </h2>
<h5>Select a date to view and/or edit</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stickers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            f
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stickers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descriptions)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ChartId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ChartId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

