@model IEnumerable<Creighton_Model_App.Models.ChartEntry>
@{ 
    ViewData["Title"] = "My Chart";
}
<h2>Observations From: "Placeholder" To: "Placeholder" </h2>
<h5>Select a date to view and/or edit</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StickerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionId)
            </th>
        </tr>
    </thead>
    @foreach (var enteries in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelEntries => enteries.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelEntries => enteries.StickerId)
        </td>
        <td>
            @Html.DisplayFor(modelEntries => enteries.DescriptionId)
        </td>
    </tr>
    }

</table>

